<!DOCTYPE html>

<HTML lang="es">

   <HEAD>
    <meta charset="utf-8">
    <meta name="description" content="Simple interface to make some music using a raspberry pi">
    <meta name="author" content="Robert Filter">
    <link rel="icon" href="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      h1 {text-align: center}
      

    </style>
    </HEAD>
    <BODY>
      <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Liga de Futbol</h1>
            <div class="btn-group btn-group-justified">
                <a href="/" class="btn btn-lg btn-warning">Menu</a>
                <a href="/Partidos" class="btn btn-lg btn-danger">Partidos</a>
                <a href="/Ranking" class="btn btn-lg btn-danger">Ranking</a>
            </div>
        </div>
    </header>
      <div class="container-fluid">
    <h1 class="mt-4 mb-4">Lista de los Equipos</h1>
    <ul class="list-group">
        {% for equip in equips%}
        <li class="list-group-item">{{equip}}</li>
        {% endfor %}
    </ul>
</div>
<div class="container-fluid">
    <form method="POST">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="localTeamSelector">Equipo Local</label>
              <select class="form-control" name="EquipoLocal" id="localTeamSelector">
                {% for equip in equips %}
                  <option value="{{equip}}">{{equip}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="localTeamScoreInput"> Puntuacion Local</label>
              <input type="number" class="form-control" name="PuntuacionLocal" id="LocalInput" aria-describedby="helpId" required placeholder="0"/>
          </div>
        </div>
      </div>
      <br />

      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="visitantTeamSelector">Equipo visitante</label>
              <select class="form-control" name="EquipoVisitante" id="Visitante">
                {% for equip in equips %}
                  <option value="{{equip}}">{{equip}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="visitantTeamScoreInput">Puntuacion Visitante</label>
              <input type="number" class="form-control" name="Puntuacionvisitante" id="VisitanteInput" aria-describedby="helpId" required placeholder="0"/>
          </div>
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Añadir</button>
    </form>
</div>
</BODY>
</HTML>