<!DOCTYPE html>

<HTML lang="es">

   <HEAD>
        <title>Partidos</title>
        <meta charset="utf-8">
    </HEAD>

    <BODY>
      <div>
        <div class="Partidos">
          <h1>Partidos y Resultados</h1>
        </div>
          <ul>
            {% for Local in equipos %}
              {% for Visitantes in equipos %}
                {% if Local != Visitantes %}
                  {{ listaEquipos.append(Visitantes) }}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
          {% for Local in range(0,len(equipos)) %}
            {% for Visitantes in range(1,len(equipos)) %}
              {{ diccLigas[listaEquipos[0]] }}
              {{ Lista.append(diccLigas) }}
              {{ Ligas[str(equipos[Local])] = {{Lista}}
            {% endfor %}
          {% endfor %}
          {{ Ligas }}
    </BODY>
</HTML>