<!DOCTYPE html>

<HTML lang="es">

   <HEAD>
        <title>Ranking</title>
        <meta charset="utf-8">
    </HEAD>

    <BODY>
      <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('Menu') }}">Menu</a></li>
            <li><a href="{{ url_for('Equipos_get')}}">Equipos</a></li>
            <li><a href="{{ url_for('Partidos_get')}}">Partidos y Resultados</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
      <div>
        <div class="Partidos">
          <h1>ranking</h1>
        </div>
              <li>{{league}}</li>
    </BODY>
</HTML>